@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Ubuntu&display=swap');

*{
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

li{
    display: inline-block;
}

a{
    text-decoration: none;
}

.header{
    height: 182px;
    max-width: auto;
    padding-top: 71px;
}

.header-navigation{
    width: 615px;
    height: 19px;
    margin: 0 auto;
}

.header-item:not(:first-child){
    margin-left:  100px;
}

.header-link{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;   
    color: #7D7D7D;
}

main {
    max-width: auto;
    height: 1988px;
}

.main-list li{
    width: 420px;
}

.main-list li p:nth-of-type(1){
    margin-top: 62px;
}

.main-list li p:nth-last-child(1){
    margin-top: 40px;
}

img{
    width: 420px;
    height: 280px;
}

.main-list{
    width: 905px;
    margin: 0 auto;
}


.main-list li:nth-of-type(even){
    margin-left: 60px;
}

.main-list li {
    margin-top: 130px;
}

button{
    margin-left: auto;
    margin-right: auto;
    margin-top: 114px;
width: 165px;
height: 60px;
border: 1px solid #626262;
display: block;
font-family: 'Playfair Display';

}
 .LIVESTYLE{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    background-color: #B4AD9E;
 }

p{
    font-family: 'Ubuntu';
    color: #B4AD9E;
}

h3{
    font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 40px;
color: #626262;
}














